.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include md {
    flex-direction: row;
  }

  &_message {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include md {
      width: 65%;
      margin-left: 10%;
      align-items: flex-start;
      text-align: left;
    }

    &-sec {
      background-color: $secondary-color;
      margin: 10px 0;
      padding: 10px;
      border-radius: 20px;
    }

    h1 {
      font-weight: 900;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;

      @include md {
        font-size: 48px;
        line-height: 50px;
      }
    }

    .colored-text {
      color: $primary-color;
    }

    p {
      margin-bottom: 10px;
    }

      img {
        width: 200px;
        height: 50px;
        margin: 10px 0;
        cursor: pointer;
        object-fit: contain;
    }
  }

  &_img { 
    width: 100%;
    height: 400px;

    @include md {
      height: 550px;
    }
    

    img {
      width: 100%;
      height: 100%;
    }
  }
  
}