.logo {
  color: $primary-color;

  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    object-fit: contain;

    @include md {
      width: 60px;
      height: 60px;
    }
  }

  div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    span:first-of-type {
      font-weight: 900;
      margin-bottom: 5px;
    }

    span:last-of-type {
      font-weight: 400;
      letter-spacing: 5px;
    }
  }
}