//colors
$primary-color: hsl(25, 92%, 51%);
$secondary-color: hsl(259, 1%, 48%);
$gray: rgba(0, 0, 0, 0.2);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 20%);
$tertiary-color: rgba(246, 116, 17, 0.3);

